<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Security-Policy"
    content="default-src *; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src * 'self' data:;">
  <link rel="stylesheet" href="css/bootstrap-4.3.1.min.css">
  <title>COM Grapher</title>
  <style>
    input {
      text-align: right;
    }

    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">COM Grapher - Serial to Graph Visualizer</span>
  </nav>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-sm-2" id="height-col-1">
        <label id="height-label"><b>Serial Communication</b></label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="serial-port">COM Port</span>
          </div>
          <input type="text" class="form-control" id="serialport" aria-label="COM" aria-describedby="serial-port"
            value="COM6">
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="baud-rate">Baudrate</span>
          </div>
          <input type="text" class="form-control" id="baudrate" aria-label="Baudrate" aria-describedby="baud-rate"
            value="460800">
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="databits">Databits</label>
          </div>
          <select class="custom-select" id="databits" dir="rtl">
            <option value="8" selected>8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="parity">Parity</label>
          </div>
          <select class="custom-select" id="parity" dir="rtl">
            <option value="none" selected>None</option>
            <option value="even">Even</option>
            <option value="odd">Odd</option>
            <option value="mark">Mark</option>
            <option value="space">Space</option>
          </select>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="stopbits">Stopbits</label>
          </div>
          <select class="custom-select" id="stopbits" dir="rtl">
            <option value="1" selected>1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="delimiter-text">Delimiter</span>
          </div>
          <input type="text" class="form-control" id="delimiter" aria-label="delimiter-text"
            aria-describedby="delimiter-text" value="\r">
        </div>
        <div class="input-group mb-3">
          <button type="button" class="btn btn-light btn-block" id="serial-connect">Connect</button>
        </div>
        <div class="input-group mb-3">
          <textarea class="form-control" id="log" rows="24" readonly="readonly"
            style="resize:none;font-size:0.6rem"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="btn-group btn-block" role="group" aria-label="btn-group-1">
            <button type="button" class="btn btn-light" id="toggle-logging">Stop Log</button>
            <button type="button" class="btn btn-light" id="clear-logging">Clear</button>
            <button type="button" class="btn btn-light" id="toggle-record">Record</button>
          </div>
        </div>
      </div>

      <!-- I think I'll add this feature in near future. -->
      <!-- <div class="col-sm-2">
          <label><b>Utility</b></label>
          <div class="input-group mb-3">
          </div>
        </div> -->

      <div class="col-sm-2 height-col-2">
        <label><b>Initial Value</b></label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="arm-length">Arm</span>
          </div>
          <input type="text" class="form-control" id="armlength" aria-label="length" aria-describedby="arm-length"
            value="0.3">
          <div class="input-group-append">
            <span class="input-group-text" id="arm-length">m</span>
          </div>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="dumbbell-weight">Dumbbell</span>
          </div>
          <input type="text" class="form-control" id="dumbbellweight" aria-label="weight"
            aria-describedby="dumbbell-weight" value="6">
          <div class="input-group-append">
            <span class="input-group-text" id="dumbbell-weight">kg</span>
          </div>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="encoder-degree">Encoder</span>
          </div>
          <input type="text" class="form-control" id="encoderdegree" aria-label="degree"
            aria-describedby="encoder-degree" value="9">
          <div class="input-group-append">
            <span class="input-group-text" id="encoder-degree">˚</span>
          </div>
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="angle-index">Angle Index</span>
          </div>
          <input type="text" class="form-control" id="angleindex" aria-label="angleindex" aria-describedby="angle-index"
            value="24">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="max-dataset">Dataset</span>
          </div>
          <input type="text" class="form-control" id="maxdataset" aria-label="dataset" aria-describedby="max-dataset"
            value="30">
        </div>
        <div class="input-group mb-3">
          <button type="button" class="btn btn-light btn-block" id="apply-value">Apply</button>
        </div>
        <label><b>Data Selection</b></label>
        <div class="input-group mb-3">
          <select multiple class="form-control" id="select-data" size="27" style="font-size:0.6rem">
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="btn-group btn-block" role="group" aria-label="btn-group-2">
            <button type="button" class="btn btn-light" id="draw-graph">Draw</button>
            <button type="button" class="btn btn-light" id="clear-graph-last" style="font-size:0.9rem">Clear
              Last</button>
            <button type="button" class="btn btn-light" id="clear-graph" style="font-size:0.9rem">Clear All</button>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <label><b>Visualization</b></label>
        <div class="serial-graph">

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal01" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModal01">Error!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Something wrong happened.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="js/index.js"></script>
<script src="js/serial.js"></script>

</html>